body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 .class1{
                max-width:600px;
                margin:0 auto;
                color:green;
                
}
.class2{
                max-width:800px;
                margin:0 auto;
                color:blue;
                
}
.class3{
                max-width:1000px;
                margin:0 auto;
                color:red;
                
}
